<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>关于淼溪</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="description" content=""/>
	<meta name="keywords" content="">
	<link rel="icon" href="/index_statics/img/icon.png">
	<link rel="stylesheet" href="/index_statics/css/reset.css">
	<link rel="stylesheet" href="/index_statics/css/head-footer.css">
	<link rel="stylesheet" href="/index_statics/css/aboutmaxi.css">
</head>
<body ondragstart="return false">
	<!-- 头部文件 -->
	<!--<script src="/index_statics/js/head.js"></script>-->
	{{include file='head.html'}}
	<!-- 正文 -->
	<div class="banner">
		<img src="/index_statics/img/bannerforMX.png" alt="">
	</div>
	<div class="container">
		<p class="addr">当前位置：关于淼溪>公司简介</p>
		<h1>关于淼溪<span>ABOUT</span></h1>
		<div class="about">
			<div class="about-left">
				<div class="leftItems leftActive" id="aboutDefault">公司简介</div>
				<div class="leftItems" id="culture">企业文化</div>
				<div class="leftItems" id="certificate">荣誉证书</div>
				<div class="leftItems" id="recruit">人才招聘</div>
			</div>
			<div class="about-right">
				<!-- 公司简介 -->
				<div class="aboutDefault show">
					<img src="/index_statics/img/picture.png" alt="">
					<h4>公司简介</h4>
					<p>淼溪信息科技发展（上海）有限公司创立于2017年7月，专业致力于社区服务、优惠生态圈、o2o电子商务平台领域。公司位于上海市嘉定区金沙江西路1555弄慧创国际395号，地处最繁华的交通枢纽虹桥枢纽北面，立足长三角辐射全国。</p>
					<p>近年来，随着移动互联网的发展，线下实体企业纷纷谋求“占领”移动终端，但各自为阵，资源分散，客户黏性低。为了解决单一线上或单一线下模式下各自消费者的痛点，应对线下的服务场景普遍存在信息不对称、中间环节过多、资源配置效率低的特点，各家互联网企业都挖空心思去寻找一条可行的思路时，淼溪信息科技发展（上海）有限公司拉拉秀传媒生态平台应运而生。</p>
					<p>拉拉秀传媒生态平台依托强大的技术团队及充分的人力资源优势，通过自身极具竞争力的推广模式，率先打通线上线下通道，打造出中国最大消费者与商家的“共赢生态圈”。建立商家联盟及会员联盟，形成联盟连锁的经营业态，实现会员与商家的互动、线上与线下的互通，在低成本关联扩张的主题下，完成消费与经营、就业与创业、修养与事业、利益与价值等诸多要素的无缝对接，达到共建多赢的战略效果。</p>
					<p>“拉拉秀”将在三年按内按照基础建设期、巩固发展期、成熟增长期、整合拓展期“四部走”战略，最终打造成市值千亿级的上市公司。平台建立初期就赢得天天海鲜、虾友会、丰收日等120多家餐饮领军企业加盟。据测算，项目全面完成网点建设后将创造就业岗位2万多个，实现营收60亿元，发展会员3亿人，上缴利税过亿元。而作为中国经济中心的上海市移动互联网产业的重点项目，“拉拉秀”不但是上海移动互联网蓬勃发展的体现，更将引领移动互联网产业走向全国，跻身世界。</p>
				</div>
				<!-- 企业文化 -->
				<div class="culture show">
					<img src="/index_statics/img/qiyewenhua.png" alt="">
					<h4>文化理念：</h4>
					<p>让每一位商家更赚钱让每一位顾客更实惠</p>
					<h4 style="margin: 20px auto 10px auto;">十字箴言：</h4>
					<p>缘聚：</p>
					<p>互爱：</p>
					<p>合伙：</p>
					<p>奋斗：</p>
					<p>发展：</p>
				</div>
				<!-- 荣誉证书 -->
				<div class="certificate show">
					荣誉证书
				</div>
				<!-- 人才招聘 -->
				<div class="recruit show">
					<div class="recruit-list">
						<ul>
							{{foreach from=$list.list item=item}}
							<li>
								<a href="/aboutMaxi/personDetails/{{$item.id}}">
									<span class="title overflow">{{$item.title}}</span>
									<span class="times">{{$item.cdate}}</span>
								</a>
							</li>
							{{/foreach}}
						</ul>
					</div>	
					<!--<div class="tcdPageCode"></div>-->
					<div class="am-cf">
						{{$pager}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 尾部文件 -->
	<!--<script src="/index_statics/js/footer.js"></script>-->
	{{include file='footer.html'}}
</body>
 <!-- build:js /index_statics/js/jquery.js -->
<script src="/index_statics/lib/js/jquery.min.js"></script>
<!-- endbuild -->
 <!-- build:js /index_statics/js/page.js -->
<script src="/index_statics/lib/js/page.js"></script>
<!-- endbuild -->
<script>
	(function(){
		var flag = {{$flag}};
		if(flag==1){
			$(".leftItems").removeClass("leftActive");
			$(".leftItems").eq(3).addClass("leftActive");
			$(".addr").html("当前位置：关于淼溪>人才招聘");
			$(".show").hide();
			$(".recruit").show();
		}else{
			$(".leftItems").removeClass("leftActive");
			$(".leftItems").eq(0).addClass("leftActive");
		}
		$(".leftItems").click(function() {
			$(".leftItems").removeClass("leftActive");
			$(this).addClass("leftActive");
			$(".addr").html("当前位置：关于淼溪>"+$(this).html());
			$(".show").hide();
			$("."+$(this).attr("id")).show();
		});
		$(".tcdPageCode").createPage({
			pageCount:100,
			current:1,
			backFn:function(p){
            //点击按钮触发事件

        	}
    	});

	})();
</script>  
</script>
</html>