<div class="footer">
	<ul class="footerList">
		<li><a href="aboutMaxi.html">关于淼溪</a></li>
		<li><a href="product.html">公司产业</a></li>
		<li><a>净水器服务</a></li>
		<li><a href="contact.html">联系我们</a></li>
		<li><a>关注微信公众号</a></li>
		<li><a>下载APP</a></li>
	</ul>
	<div class="qr_code">
		<img src="/index_statics/img/weiChart.png" alt="" class="weiChart">
		<img src="/index_statics/img/APPCode.png" alt="" class="APP">
	</div>
	<p class="beian">
		地址：上海市嘉定区金沙西路1555弄慧创国际395号
	</p>
	<p class="beian">&copy;Copyright 2016 淼溪信息科技发展（上海）有限公司 版权所有 备案号：沪ICP备14013198号-3</p>
</div>