
<header>
	<div class="header-top">
		<div>
			<img src="/index_statics/img/Logo.png" alt="">
			<h3>淼溪信息科技</h3>
		</div>
	</div>
	<div class="header-bottom"></div>
	<div class="ulBox">
		<ul class="listItems">
			<li><a href="/main">首页</a></li>
			<li><a href="/aboutMaxi">关于淼溪</a></li>
			<li><a href="/product">公司产业</a></li>
			<li><a href="/News">新闻资讯</a></li>
			<li><a href="/contact">联系我们</a></li>
			<li><a href="/join">招商加盟</a></li>
		</ul>
	</div>
</header>
<!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="{{$base_url}}statics/amaze/css/amazeui.min.css"/>-->
<link rel="stylesheet" href="{{$base_url}}statics/css/amazeui.min.css"/>
<link rel="stylesheet" href="{{$base_url}}statics/css/yy_style.css">