.banner {
  width: 100%;
  min-width: 1000px;
  margin-top: -55px;
}
.banner img {
  width: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
.container p {
  font-size: 18px;
  color: #1f1f1f;
  margin-top: 29px;
  text-align: right;
}
.container h1 {
  font-size: 30px;
  color: #040404;
  margin: 30px auto 51px auto;
  font-weight: normal;
}
.container h1 span {
  font-family: 'Arial';
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
}
.about-left {
  float: left;
  width: 250px;
}
.about-left .leftItems {
  height: 78px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 78px;
  font-size: 24px;
  color: #040404;
  cursor: pointer;
}
.about-left .leftActive,
.about-left .leftItems:hover {
  background-color: #1b96fe;
  color: #fff;
}
.about-right {
  float: left;
  margin-left: 36px;
  width: 690px;
  margin-bottom: 100px;
  min-height: 500px;
}
.about-right h4 {
  margin: 60px auto 30px auto;
  color: #404040;
  font-size: 18px;
}
.about-right p {
  font-size: 14px;
  color: #676767;
  line-height: 23px;
  text-align: left;
  margin-top: 0;
  text-indent: 2em;
}
.about-right .culture,
.about-right .certificate,
.about-right .recruit {
  display: none;
}
.about-rightforProduct {
  float: left;
  margin-left: 36px;
  width: 690px;
  margin-bottom: 100px;
  min-height: 500px;
}
.about-rightforProduct .productItems {
  width: 335px;
  display: inline-block;
}
.about-rightforProduct .productItems img {
  width: 100%;
}
.about-rightforProduct .productItems p {
  font-size: 18px;
  color: #6f6f6f;
  line-height: 25px;
  text-align: center;
  margin-top: 10px;
}
.about-rightforProduct .productLove,
.about-rightforProduct .productMi {
  display: none;
}
.about-rightforNews {
  float: left;
  margin-left: 36px;
  width: 690px;
  margin-bottom: 100px;
  min-height: 500px;
}
.about-rightforNews .border {
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.about-rightforNews .newsLeft {
  width: 190px;
  display: inline-block;
}
.about-rightforNews .newsLeft img {
  width: 100%;
}
.about-rightforNews .newsRight {
  vertical-align: top;
  width: 480px;
  padding-left: 14px;
  display: inline-block;
}
.about-rightforNews .newsRight h4 {
  height: 35px;
  font-weight: normal;
}
.about-rightforNews .newsRight .title {
  font-size: 18px;
  color: #404040;
  float: left;
  font-weight: normal;
  line-height: 35px;
  font-weight: bold;
  width: 80%;
}
.about-rightforNews .newsRight .time {
  float: right;
  font-size: 12px;
  color: #404040;
  line-height: 35px;
  padding-right: 15px;
}
.about-rightforNews .newsRight p {
  font-size: 14px;
  color: #676767;
  text-align: left;
  margin-top: 0;
  line-height: 20px;
  height: 65px;
  overflow: hidden;
}
.about-rightforNews .newsRight .more {
  margin: 36px auto 24px 420px;
}
.about-rightforNews .guild {
  display: none;
}
.about-rightforContact {
  float: left;
  margin-left: 36px;
  width: 690px;
  margin-bottom: 100px;
  min-height: 500px;
}
.about-rightforContact img {
  width: 100%;
}
.about-rightforContact .contactMsg p {
  margin-top: 40px;
  font-size: 18px;
  color: #404040;
  text-align: left;
}
.clickcotact {
  display: none;
}
textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 300px;
  border: 1px solid #e5e5e5;
  text-align: left;
  font-size: 20px;
  color: black;
  line-height: 25px;
  padding: 5px;
  margin-top: 20px;
}
.send {
  width: 143px;
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: url(../img/bg12.jpg) no-repeat;
  cursor: pointer;
  margin: 30px auto 60px 550px;
}
.send:hover {
  background: url(../img/bg12.jpg) no-repeat 0 -40px;
}
.joinMsg {
  padding-top: 20px;
}
.joinMsg span {
  font-size: 18px;
  color: #6f6f6f;
  text-align: left;
  font-weight: bold;
  line-height: 20px;
  margin: 15px auto;
  display: block;
}
.joinMsg p {
  margin-top: 0;
  font-size: 15px;
  color: #6f6f6f;
  text-align: left;
  line-height: 20px;
  margin-left: 20px;
}
.require {
  display: none;
}
.details {
  text-align: center;
}
.details h3 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: normal;
  color: #404040;
}
.details .times {
  font-weight: 14px;
  color: #404040;
  margin: 20px auto 15px auto;
  text-align: center;
}
.details img {
  width: 602px;
  height: 402px;
  display: block;
  margin: 0 auto;
}
.details .details-context {
  width: 602px;
  margin: 0 auto;
  text-align: left;
  margin-top: 35px;
  line-height: 24px;
  font-weight: 14px;
  color: #676767;
  text-indent: 2em;
  margin-bottom: 100px;
}
.recruit-list {
  min-height: 500px;
}
.recruit-list a {
  text-decoration: none;
  height: 50px;
  display: block;
}
.recruit-list a:hover span {
  color: #fff;
}
.recruit-list a:hover {
  background-color: #1b96fe;
}
.recruit-list li {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 50px;
}
.recruit-list .title {
  font-size: 20px;
  line-height: 50px;
  width: 80%;
  color: black;
  padding-left: 3px;
  display: inline-block;
}
.recruit-list .times {
  width: 18%;
  font-size: 15px;
  line-height: 50px;
  color: #6f6f6f;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.tcdPageCode {
  display: block;
  margin: 30px auto;
  text-align: left;
  color: #ccc;
}
.tcdPageCode a {
  display: inline-block;
  color: #1b96fe;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  border-radius: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.tcdPageCode a:hover {
  text-decoration: none;
  border: 1px solid #1b96fe;
}
.tcdPageCode span.current {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #fff;
  background-color: #1b96fe;
  border: 1px solid #1b96fe;
  border-radius: 4px;
  vertical-align: middle;
}
.tcdPageCode span.disabled {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #bfbfbf;
  background: #f2f2f2;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  vertical-align: middle;
}
