.container {
  width: 1000px;
  margin: 0 auto;
}
.container .addr {
  height: 78px;
}
.container .addr p {
  text-align: right;
  line-height: 78px;
}
.container .contact {
  height: 82px;
  font-size: 32px;
}
